<div class="mainMenu fixed md:right-12 md:bottom-12 right-6 bottom-9">
  <button
    [class.active]="isDropdownOpen"
    class="fabButton menuFab cursor-pointer p-2 justify-between flex flex-col drop-shadow-md relative"
    [@mainMenuToggler]="{ value: fabTogglerState }"
    (click)="toggleDropdown()">
    <span class="material-icons" style="pointer-events: none;">
      menu
    </span>
  </button>
  <div [class.show]="isDropdownOpen" class="dropdownContent flex-col flex items-start p-4 drop-shadow-lg">
    <button class="py-1" routerLink="/">home</button>
    <button class="py-1" routerLink="/map">map</button>
    <button class="py-1" routerLink="/privacy">privacy</button>
    <button class="py-1" routerLink="/imprint">imprint</button>
  </div>
</div>
