@import 'aeye-colors.scss';

.mainMenu {
  z-index: 3;
}

.fabButton {
  z-index: 3;
  background-color: $primary;
  color: $secondaryHover;
}

.fabButton:hover, .fabButton:active {
  background-color: $secondary;
  color: $background;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: $backgroundHover;
  right: 0;
  bottom: 100%;
}

.show {
  display: flex;
}
