@import 'aeye-colors.scss';

h1 {
  font-size: 6rem;
  font-weight: 200;
  color: $secondary;
  white-space: nowrap;
  overflow: hidden;
  animation: cursorEffect 1s infinite step-end, typingEffect 10s infinite steps(8);
  -webkit-animation: cursorEffect 1s infinite step-end, typingEffect 10s infinite steps(8);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
h1:hover,
h1:active {
  cursor: default;
  color: $secondaryHover;
}

a {
  color: $secondary;
  font-size: 1rem;
}
a:hover {
  color: $primary;
}
