<div class="flex flex-col min-h-screen items-center">

  <div class="max-w-2xl md:p-8 p-2 bg-background">
    <ul>
      <li>1. add camera</li>
      <li>2. place location</li>
      <li>3. share with others</li>
    </ul>
  </div>
  <div class="max-w-2xl md:p-8 p-2 bg-background">
    <h2> surveillance </h2>
    <p>
      surveillance cameras have become as common as pigeons in urban areas, supposedly playing a crucial role in enhancing public safety. these cameras are meant to deter criminal activities, monitor traffic flow, and provide valuable evidence during investigations. at least, that’s the idea! studies claim that areas with visible surveillance systems experience a reduction in crime rates, contributing to a safer community. however, let's be honest, these cameras are also watching our every move, tracking our comings and goings like a nosy neighbor. while the intention is to balance security needs with the protection of individual rights, the reality often sparks debates about privacy and civil liberties. it's essential to ensure that surveillance measures are transparent and have proper oversight, or we might just feel like we're constantly being watched. by understanding the quirky benefits and sneaky challenges of public surveillance, we can aim for safer spaces without feeling like we're under a microscope.</p>
  </div>
</div>
