@import 'aeye-colors.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Source Code Pro', monospace;
  font-size: 1rem;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../public/images/balalaika.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: $font;
}

// MATERIAL MATERIAL MATERIAL MATERIAL MATERIAL MATERIAL MATERIAL MATERIAL
@font-face {
  font-family: 'Material Icons';
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../public/fonts/MaterialSymbolsSharp[FILL\,GRAD\,opsz\,wght].woff2) format('woff2'),
    url(../public/fonts/MaterialSymbolsSharp[FILL\,GRAD\,opsz\,wght].ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-size: 2rem;  /* Preferred icon size */
  display: inline-block;
  color: $background;
  line-height: 1;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

// LEAFLET LEAFLET LEAFLET LEAFLET LEAFLET LEAFLET LEAFLET LEAFLET LEAFLET
.leaflet-marker-icon {
  div {
    span {
      color: $background;
    }
  }
}
