@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialSymbolsSharp[FILL\,GRAD\,opsz\,wght].woff2) format('woff2'),
    url(../fonts/MaterialSymbolsSharp[FILL\,GRAD\,opsz\,wght].ttf) format('truetype');
}
