<div class="flex flex-col p-2 md:p-8 bg-background">
  <div class="flex flex-col md:flex-row md:gap-6 gap-2 pb-4">
    <a routerLink="/"> home </a>
    <a routerLink="/map"> map </a>
    <a routerLink="/privacy"> privacy </a>
    <a routerLink="/imprint"> imprint </a>
  </div>
  <div class="text-center">
    <p>© 2024 skillcap.org</p>
  </div>
</div>

