<div class="toolboxMenu fixed md:left-12 md:bottom-12 left-6 bottom-9">
  <button
    *ngIf="addingMarkerMode"
    class="fabButton toolboxFab cursor-pointer p-2 mb-2 justify-between flex flex-col drop-shadow-md relative"
    (click)="confirmMarkerEmit()">
    <span class="material-icons" style="pointer-events: none;">
      done
    </span>
  </button>
  <button
    [class.active]="isDropdownOpen"
    class="fabButton toolboxFab cursor-pointer p-2 justify-between flex flex-col drop-shadow-md relative"
    [@mainMenuToggler]="{ value: fabTogglerState }"
    (click)="toggleDropdown()">
    <span class="material-icons" style="pointer-events: none;">
      add
    </span>
  </button>
  <div [class.show]="isDropdownOpen" class="dropdownContent flex-col flex items-end p-4 drop-shadow-lg">
    <button class="block py-1" (click)="enterAddMarkerMode()">camera</button>
  </div>
</div>
