<div class="flex flex-col h-full justify-center align-center">
	<h2 class="text-center">404 not found</h2>
	<p class="text-center">
		you got lost!
		<a class="text-center" routerLink="/">home</a>
	</p>
</div>

